.b-rates {
	padding: 0 20px;

	&__block {
		display: inline-block;
		width: 300px;

		margin-right: 20px;

		vertical-align: top;
	}

	&__label,
	&__input {
		display: inline-block;
	}

	&__label {
		width: 60%;
	}

	&__input {
		width: 40%;
	}
}